<%- include('partials/header'); -%>

<nav class="top">
    <div ><a class="button" href="/indiaStats">COVID19INDIA</a></div>
    <div><a class="button" href="/index">GLOBAL</a></div>
    <div><a class="button" href="https://www.covid19india.org/">DEEPDIVE</a></div>
</nav>
<div class="table-top">
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>Total Cases</th>
                <th>Recoveries</th>
                <th>Deaths</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Global</td>
                <td>+<%= data["Global"]["NewConfirmed"] %>
                    <p><%= data["Global"]["TotalConfirmed"] %></p></td>
                <td>+<%= data["Global"]["NewDeaths"] %>
                    <p><%= data["Global"]["TotalDeaths"] %></p></td>
                <td>+<%= data["Global"]["NewRecovered"] %>
                    <p><%= data["Global"]["TotalRecovered"] %></p></td>
            </tr>
            <% for( let i = 0; i < data["Countries"].length; i++ ) { %>
                <% if (data["Countries"][i]["CountryCode"] === "IN" || data["Countries"][i]["CountryCode"] === "US" || data["Countries"][i]["CountryCode"] === "BR" || data["Countries"][i]["CountryCode"] === "UK" || data["Countries"][i]["CountryCode"] === "RU") { %>
                    <tr>
                        <td><%= data["Countries"][i]["Country"] %></td>
                        <td>+<%= data["Countries"][i]["NewConfirmed"] %>
                            <p><%= data["Countries"][i]["TotalConfirmed"] %></p></td>
                        <td>+<%= data["Countries"][i]["NewDeaths"] %>
                            <p><%= data["Countries"][i]["TotalDeaths"] %></p></td>
                        <td>+<%= data["Countries"][i]["NewRecovered"] %>
                            <p><%= data["Countries"][i]["TotalRecovered"] %></p></td>
                    </tr> 
                <% } %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('partials/footer'); -%>