<%- include('partials/header'); -%>
<nav class="top">
    <div>Global</div>
    <div>Covid19India</div>
    <div>DeepDive</div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Total Cases</th>
                        <th scope="col">Active</th>
                        <th scope="col">Recoveries</th>
                        <th scope="col">Deaths</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0;i < data["statewise"].length; i++ ){ %>
                        <tr>
                            <th scope="row"><%= data["statewise"][i]["state"] %></th>
                            <td><h4>+<%= data["statewise"][i]["deltaconfirmed"] %></h4><h3><%= data["statewise"][i]["confirmed"] %></h3></td>
                            <td><h3><%= data["statewise"][i]["active"] %></h3></td>
                            <td><h4>+<%= data["statewise"][i]["deltarecovered"] %></h4><h3><%= data["statewise"][i]["recovered"] %></h3></td>
                            <td><h4>+<%= data["statewise"][i]["deltadeaths"] %></h4><h3><%= data["statewise"][i]["deaths"] %></h3></td>
                        </tr>        
                    <% } %>
                </tbody>
            </table>    
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>