<%- include('partials/header'); -%>

<h1>Results page</h1>
<% data["Countries"].forEach(element => { %>
    <ul>
        <li><%= element["Country"] %>
            <ul>
                <li>New Confirmed: <%= element["NewConfirmed"]%></li>
                <li>Total Confirmed: <%= element["TotalConfirmed"]%></li>
                <li>New Deaths: <%= element["NewDeaths"]%></li>
                <li>Total Deaths: <%= element["TotalDeaths"]%></li>
                <li>New Recovered: <%= element["NewRecovered"]%></li>
                <li>Total Recovered: <%= element["TotalRecovered"]%></li>
            </ul>
        </li>
    </ul>    
<% }) %> 
<%- include('partials/footer'); -%>